*{
    margin: 0;
}
.neo-hero {
  background: #ffde59;
  border-bottom: 4px solid #000;
  padding: 4rem 1rem;
}

/* MAIN BOX */
.hero-box {
  background: #ffffff;
  border: 4px solid #000;
  box-shadow: 12px 12px 0 #000;
  padding: 3rem;
  padding: 25px;
  margin-bottom: 25px;
  animation: fadeUp 0.35s ease;
}

/* TITLE */
.hero-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
}

/* HIGHLIGHT */
.hero-highlight {
  background: #00f0ff;
  border: 3px solid #000;
  padding: 0 0.4rem;
}

/* TEXT */
.hero-text {
  font-size: 1.1rem;
  margin: 1.5rem 0;
  max-width: 520px;
}

/* BUTTONS */
.hero-btn-primary,
.hero-btn-secondary {
  font-weight: 800;
  padding: 0.75rem 1.8rem;
  border: 3px solid #000;
  box-shadow: 5px 5px 0 #000;
  transition: all 0.1s ease;
}

.hero-btn-primary {
  background: #ff3d00;
    color: black
}

.hero-btn-secondary {
  background: #ffffff;
    color: #000;
}

.hero-btn-primary:hover,
.hero-btn-secondary:hover {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0 #000;
}

.hero-btn-primary:active,
.hero-btn-secondary:active {
    transform: translate(4px, 4px);
  box-shadow: 0 0 0 #000;
}


/* STATS */
.hero-stat {
  background: #ffffff;
  border: 3px solid #000;
  box-shadow: 4px 4px 0 #000;
  padding: 1rem;
  text-align: center;
  font-weight: 900;
  
}
